{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/blogs_detail.css' %}">
{% endblock extra_head %}


{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="main-grid">
        <!-- Main blogs -->
        <div class="blogs-container">


            <!-- blogs Image -->
            <div class="article-image">
                <img src="{{ blogs.image.url }}" alt="{{ blogs.title }}">
            </div>


            <!-- blogs Meta -->
            <div class="article-meta">
                <div class="meta-info">
                    <div class="meta-item">
                        <i class="fas fa-calendar"></i>
                        {{ blogs.created_at|date:"F d, Y" }}
                    </div>
                    <div class="meta-item">
                        <i class="fas fa-clock"></i>
                        {{ blogs.created_at|time:"H:i" }}
                    </div>
                </div>  
            </div>


            <!-- community Title -->
            <h1 class="article-title">{{ blogs.title }}</h1>


            <!-- community Content -->
            <div class="blogs-content">
                <p>{{ blogs.content|safe }}</p>
            </div>


        </div>
    </div>
</div>
{% endblock content %}

