{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/community_detail.css' %}">
{% endblock extra_head %}


{% block content %}
    <div class="container-fluid">
        <main class="community-wrapper">
            <h1 class="community-title">{{ community.title }}</h1>
            <div class="community-feature">
                <figure class="community-media">
                    <div class="community-image">
                        <img src="{{ community.image.url }}" alt="{{ community.title }}">
                    </div>
                    <figcaption class="community-met">
                        <span class="meta-item"><i class="fas fa-calendar" aria-hidden="true"></i>{{ community.created_at|date:"F d, Y" }}</span>
                        <span class="meta-item"><i class="fas fa-clock" aria-hidden="true"></i>{{ community.created_at|time:"H:i" }}</span>
                    </figcaption>
                </figure>
                <div class="community-content">{{ community.content|safe }}</div>
            </div>
        </main>
    </div>
{% endblock content %}

